<!-- Sección de portada con imagen de fondo -->
<section
  class="bg-[url('/home/foto-portada2.png')] h-[30rem] bg-cover bg-no-repeat flex flex-col justify-center items-center"
>
  <h2
    class="text-center mx-4 text-4xl sm:text-5xl font-bold text-white shadow-2xl shadow-black"
  >
    Tienda de Electrónica y PC
  </h2>
  <h4 class="text-center text-lg text-white mt-2 shadow-2xl shadow-black">
    Top 1 en productos de informática
  </h4>
</section>

<!-- Seccion más vendidos -->

<section class="py-6 pb-12 dark:bg-black dark:text-white">
  <h1
    class="text-center text-black text-3xl uppercase font-bold my-8 dark:text-white"
  >
    Más vendidos
  </h1>
  <app-mas-vendidos></app-mas-vendidos>
</section>
